{% extends 'base.html' %}

{% block contenido %}
<div class="content" style="background-image: url('/static/images/home.jpg')">
	<center>
		<p>
			<h1>Victor Rivera | Developer</h1>
			<span>
				<p>Articulos relacionados a las tecnologias de hoy día, por ejemplo:</p>
				<p>Html5, CSS3, Javascript, NodeJs, Python, PHP, MongoDB, PostgreSQL, etc.</p>
			</span>
		</p>
	</center>
</div>


<div class="container articulos">

	{% for post in posts %}
		<article class="padding">
			<header class="excerpt">
				<h5><a class="title_preview" href="/articulo/{{post.slug}}/">{{post.title}}</a></h5>
			</header>

			<div class="preview">
				<p>{{post.body|escape|truncate(400)}} <a href="/articulo/{{post.slug}}/"><span class="fa fa-angle-double-right"></span></a></p>
			</div>

			<footer class="author">
				<div class="author-thumb inline middle">
					<img width="34" height="34" src="{{post.author.photo}}" alt="{{post.author.fullName}}" class="border circle">
				</div>

				<div class="inline middle">
					Escrito por <a href="/author/{{post.author.username}}/">{{post.author.fullName}}</a> |
					<span class="fa fa-folder-open-o"></span>
					&nbsp;
					{% for tag in post.tags %}
						<a href="/tag/{{tag.slug}}/">{{tag.name}}</a>
					{% endfor %}
					<br />
					<time datetime="{{moment(post.createdAt).format('YYYY-MM-DD')}}">
						{{moment(post.createdAt).format('DD, MMMM, YYYY')}}
					</time>
				</div>
			</footer>
		</article>
		<hr />
	{% endfor %}
	{% if max_page > 1 %}
	<center>
	<ul class="pagination">
    	<li class="{% if page == p_page %}disabled{% else %}waves-effect{% endif %}">
    		<a href="/page/{{p_page}}"><i class="material-icons">chevron_left</i></a>
    	</li>
		{% for i in range(1, max_page) %}
			<li class="{% if page == i %}active{% else %}waves-effect{% endif %}">
				<a href="/page/{{i}}">{{i}}</a>
			</li>
		{% endfor %}
		<li class="{% if page == n_page %}disabled{% else %}waves-effect{% endif %}">
			<a href="/page/{{n_page}}"><i class="material-icons">chevron_right</i></a>
		</li>
	</ul>
	</center>
	{% endif %}
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>

{% if flash != "" %}
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>{{flash.title}}</h4>
		<p>{{flash.message}}</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
	</div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
	{% if flash != "" %}
	<script>
	$(document).on('ready', function(){
		$('#modal1').openModal();
	});
	</script>
	{% endif %}
{% endblock %}