body{
	background: #ededed;
}
a{
	color: darkslategray;
}
nav li:after{
	content: " | ";
	position: absolute;
	margin-top: -64px;
	color: white;
	font-size: large;
}

nav li:first-child:after{
	content: "";
}

header{
	line-height: 2.5rem;
}

.footer-copyright h5 a{
	color: inherit;
}

footer>div>div>div>p, footer>div>div>div:last-child>p{
	font-weight: 300;
}

.author {
    color: #969696;
    font-weight: 300;
    min-height: 40px;
    margin-top: 10px;
}
.author .author-thumb {
    margin-right: 6px;
}
.inline {
    display: inline-block;
}
.middle{
	vertical-align: middle;
}

.content{
	height: 400px;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.content center{
	position: relative;
	top: 50%;
	transform: translateY(-60%);
	color: white;

	padding: 10px;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 1px 2px 0 #000;
}

.content h1{
	margin-top: 0;
    font-size: 3.0em;
}

.content span{
	color: inherit;
	font-weight: 300;
}

.padding, .pagination {
    padding: 2rem;
}

.articulos{
	max-width: 900px;
	font-size: 1.1rem;
letter-spacing: 0.01rem;
font-weight: 300;
color: rgb(77, 77, 77);
line-height: 1.9rem;
}
.title_preview{
	font-size: 1.5rem;
	font-weight: 500;;
}
.preview{
	font-weight: 300;
	font-size: 1.2rem;
}
article h5>a:hover{
	text-decoration: underline;
}
.article{
	height: 300px;
}
.article h3{
	position: absolute;
	margin-top: 4%;
	margin-left: 1%;
}